/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */

body {
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
  margin: 0;
}

h1 {
  margin-left: 7%;
}

h2 {
  font-size: large;
  text-align: center;
}

h3 {
  font-size: small;
}

.books-wrapper {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.books-wrapper li {
  padding: 3px;
  align-self: center;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.book-div {
  background-color: rgb(107, 185, 55);
  border: 1px solid black;
  margin: 5px;
  padding-left: 5px;
  height: 200px;
  width: 130px;
  position: relative;
}

.book-div button,
.book-div a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  width: 90%;
  text-align: center;
}

.book-div a.book-about {
  bottom: 52px;
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
}

.book-div a.book-stocked,
.book-div a.book-about {
  text-decoration: none;
  padding: 2px;
}

.book-div a.book-stocked {
  background-color: rgb(239, 239, 239);
}

.book-div a.book-stocked,
.book-div button {
  bottom: 0;
  color: black;
}

.pages {
  position: absolute;
  bottom: 0;
}

h3 {
  position: absolute;
  top: 90px;
}

nav {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: darkkhaki;
}

nav li:hover {
  background-color: rgba(189, 183, 107, 0.5);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
